<div class="ingredients-title">
    <h2>your ingredients:</h2>
</div>

<ul class="ingredients-container">
    <li class="ingredients-el" *ngFor="let ingredient of ingredients">
        <input type="checkbox" name="" id="" checked="checked">
        <span>{{ ingredient }}</span>
    </li>
</ul>

<div class="ingredients-action">
    <input #ingredientInput id="ingredientInput" type="text" placeholder="Add ingredient">
    <button (click)="addIngredient(ingredientInput.value); ingredientInput.value = ''">Add</button>
</div>