.ingredients-title {
    height: 10vh;
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;

    display: flex;
    justify-content: center;

    div {
        width: 90%;
    }
}

.ingredients-container {
    height: 64vh;
    overflow-y: auto;

    .ingredients-el {
        padding: 0.5rem;
        list-style-type: none;
        border-bottom: 1px solid black;

        display: flex;
        justify-content: center;

        &__content {
            width: 90%;

            div {
                width: 100%;

                display: flex;
                align-items: center;

                span {
                    font-size: 1.2rem;
                }

                input[type="checkbox"] {
                    appearance: none;
                    margin-right: 10vw;
                    border-radius: none;
                    width: 1.2rem;
                    height: 1.2rem;
                    border: 1px solid black;
                    display: grid;
                    place-content: center;

                    &::before {
                        content: url("../../assets/img/check.svg");
                        width: 100%;
                        height: 100%;
                        transform: scale(0);
                        transition: 60ms transform ease-in-out;
                    }

                    &:checked::before {
                        transform: scale(1);
                    }
                }
            }
        }
    }
}

.ingredients-action {
    height: 10vh;
    width: 100vw;

    display: flex;
    justify-content: center;

    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: #c3e6ff;

    div {
        width: 90%;
        height: 100%;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;

        input {
            font-size: 1.2rem;
            padding: 0.5rem;
            width: 80%;
            border-radius: 0;
            border: 1px solid black;
            font-family: "Maax Mono";
            background-color: #c3e6ff;

            &::placeholder {
                color: black;
            }
        }

        button {
            cursor: pointer;
            background-color: transparent;
            border: none;
            img {
                height: 1.2rem;
            }
        }
    }
}
